table {
  width: 100%;
  border-radius: 3px;
}

.search {
  outline: none;
  border: 1px solid #CCC;
  padding: 8px 10px;
  border-radius: 3px;
}

.search:active {
  border: 1px solid gray;
}

.search:focus {
  border: 1px solid rgb(96, 24, 218);
}
